@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0B0F19;
  color: #ffffff;
  font-family: "Montserrat", system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
}
